@model AutoMarket.Models.ViewModels.AnnonceSearchVM

<h2>Recherche avancée</h2>

<form asp-action="Search" method="get">
    <div class="row">
        <div class="col-md-4">
            <label>Marque</label>
            <input class="form-control" asp-for="Marque" />
        </div>

        <div class="col-md-4">
            <label>Modele</label>
            <input class="form-control" asp-for="Modele" />
        </div>

        <div class="col-md-4">
            <label>Type</label>
            <select class="form-control" asp-for="Type">
                <option value="">-- Tous --</option>
                <option value="Vente">Vente</option>
                <option value="Location">Location</option>
            </select>
        </div>

        <div class="col-md-3">
            <label>Prix Min</label>
            <input class="form-control" asp-for="PrixMin" type="number" />
        </div>

        <div class="col-md-3">
            <label>Prix Max</label>
            <input class="form-control" asp-for="PrixMax" type="number" />
        </div>

        <div class="col-md-3">
            <label>Kilometrage Min</label>
            <input class="form-control" asp-for="KilometrageMin" type="number" />
        </div>

        <div class="col-md-3">
            <label>Kilometrage Max</label>
            <input class="form-control" asp-for="KilometrageMax" type="number" />
        </div>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Rechercher</button>
</form>
